@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: none;
    padding: none;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
body{
    margin: 0px;
}
main{
    width: 100%;
   margin: 0px;
    background-color: #ffffff;
    justify-content: center;
    
}
.perfilphotocontainer{
    margin: 15px auto 30px auto;
    
}
.perfilphoto{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #e6e6e6;
    margin-top: 30px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.perfilphoto i#userico{
    position: relative;
    font-size: 80px;
    color: rgb(161, 161, 161);
}
.photopencontainer{
    text-align: center;
}
.photopencontainer i#penuser{
    position: absolute;
    padding-left: 10%;
    
}
.accountinfocontainer{
   width: 70%;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.inputarea{
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 15px auto;
    
}
.inputarea input{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 20px auto;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: #e6e6e6;
}
.inputarea i#pennome{
    position: absolute;
    right: 5px;
    font-size: 15px;
}
.inputarea i#penemail{
    position: absolute;
    right: 5px;
    font-size: 15px;
}
.inputarea i#penpswd{
    position: absolute;
    right: 5px;
    font-size: 15px;
}
.favoritoscontainer{
    width: 70%;
    height: 200px;
    margin: auto;
}
.favoritoscontainer > h3 {
    color: #265299;
    border-bottom: 2px solid #b9b9b9;
    padding-bottom: 5px;
}
.buttoncontainer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
}
#bttOut{
    width: 50%;
    height: 35px;
    color: #ffffff;
    border: none;
    background-color: #265299;
    font-size: 1.3em;
    font-weight: 600;
    border-radius: 15px;
    margin: 20px auto;
    padding: 5px;
}





/*Header*/ 
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;

    padding: 10px 20px 0px 20px;

    height: 60px;
}


div.containerheader {
    flex: row nowrap;

    justify-content: space-evenly;
    align-items: space-between;

}

div#logo > a{ 
    display: flex;
    text-decoration: none;
}

div.containernav {
    display: flex;
    wrap: nowrap;
}


header > div.containernav > nav > ul > li {
    list-style: none;
    display: inline-block;
    
    margin: 0px;
}

header > div.containernav > nav > ul {
    margin: 0px;
    padding-left: 0px;
}

div#logo > a > img {
    width: 100px;
}

nav > ul > li > a  {
    background-color: #ffffff;
    color: black;
    font-weight: normal;
    
    font-size: 0.6em;
    line-height: 2em;
    text-decoration: none;
    padding: 7px;

    border-top: #ffffff 1px solid;
    border-right: #265299 2.5px solid;
    border-bottom: #265299 2.5px solid;
    border-left: #265299 2.5px solid;
    border-radius: 0px 0px 12px 12px;
}
nav > a {
    background-color: #ffffff;
    color: black;
    font-weight: normal;
    
    font-size: 0.6em;
    line-height: 2em;
    text-decoration: none;
    padding: 7px;

    border-top: #ffffff 1px solid;
    border-right: #265299 2.5px solid;
    border-bottom: #265299 2.5px solid;
    border-left: #265299 2.5px solid;
    border-radius: 0px 0px 12px 12px;
}