@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*index*/

    * {
        margin: none;
        padding: none;
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
    }

    body{
        background-image: url(../imagens/1x/imgPrancheta\ 7.png);
        background-size: contain;
        background-repeat: no-repeat;
    }

    div.container {
        padding: 0px;
        margin: 0px;
    }

    /*Header*/ 

    header{
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 10px 20px 0px 20px;

        height: 60px;
    }


    div.containerheader {
        flex: row nowrap;

        justify-content: space-evenly;
        align-items: space-between;

    }

    div#logo > a{ 
        display: flex;
        text-decoration: none;
    }

    div.containernav {
        display: flex;
        wrap: nowrap;
    }

    header > div.containernav > nav > ul > li {
        list-style: none;
        display: inline-block;
        
        margin: 0px;
    }

    header > div.containernav > nav > ul {
        margin-bottom: 0px;
        padding-left: 0px;
    }

    div#logo > a > img {
        width: 100px;
    }
    nav {
    }

    .escrevaaqui , .login , .equipe, .perfil {
        background-color: #ffffff;
        color: black;
        font-weight: normal;
        
        font-size: 0.6em;
        line-height: 2em;
        text-decoration: none;
        padding: 7px;

        border-top: #ffffff 1px solid;
        border-right: #265299 2.5px solid;
        border-bottom: #265299 2.5px solid;
        border-left: #265299 2.5px solid;
        border-radius: 0px 0px 12px 12px;
    }

    div.containerpart1{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }

    /*Quero Enviar*/

    div.qrenviar{
        font-size: 1.2em;
        width: 180px;
        margin-left: 5%;
        line-height: 1.1em;
    }
    
    div.qrenviar > strong > p {
        margin-top: 50px;
        font-size: 1em;
        width: 180px;
        line-height: 1.1em;
    }
    div.qrenviar > p {
        position: relative;
        top: -10px;
        font-size: 0.6em;
        width: 190px;
        line-height: 1.1em;
        margin-bottom: 5px;
    }
    
    .envieaqui {
        background-color: #265299;
        color: #ffffff;
        display: inline-block;
        width: 150px;
        
        text-align: center;
        
        font-weight: 600;
        font-size: 1em;
        line-height: 1em;
        text-decoration: none;
        padding: 15px;
        border-radius: 10px;
    }

    div.envieaqui > a {
        text-decoration: none;
        color: #ffffff;
    }
    #imgfundo{
        position: absolute;
        width: 100%;
        
        transform: translateY(-420px);
        z-index: 0;
    }

    /* Poemas Recentes*/
    
    article.poemasrecentes{
        width: 100%;
        height: 368px;
        z-index: 1;
    }

    div.containerpoemasrecentes {
        width: 100%;
        height: 250px;
        z-index: 1;
        
        padding-left: 5%;
        padding-top: 20%;
    }

    div.textrecentes > span > p { 

        font-size: 5vw;

        margin-bottom: 0px;
        color: #ffffff;
    }

    div.textrecentes > p > img { 
        width: 38%;
    }

    div#poemasrecentescontainer{
        display: flex;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: 19vh;


        z-index: 1;
    }

    #poemasrecentesarea{
        flex-basis: auto;

        background-color: #ffffff;
        width: 190px;
        height: 200px;
        border-radius: 10%;

        z-index: 1;
    }

    /*Poemas Amor*/

    article.poemasamor{
        display: flex;
        flex-flow: row nowrap;

        width: 100%;
        height: 327px;
        z-index: 1;
    }

    div.containerpoemasamor{
        display: flex;
        flex-flow: row-reverse;

        justify-content: space-between;

        width: 100%;
        height: 340px;
    }

    div.textamor{
        display: flex;
        justify-content: center;
        align-items: center;

        height: 350px;
    }

    div.textamor > img {
        width: 90%;
        height: 70%;
    }

    div#poemasamorcontainer{
        display: flex;

        justify-content: center;
        align-items: center;

        margin-left: 18%;

    }

    div#poemasamor{
        background-color: #ffffff;
        width: 190px;
        height: 210px;
        border-radius: 10%;
    }

    /*Poemas Ansiedade*/

    article.poemasansiedade{
        display: flex;
        flex-flow: row nowrap;

        width: 100%;
        height: 362px;
        z-index: 1;
    }

    div.containerpoemasansiedade{
        display: flex;
        flex-flow: row;

        justify-content: space-between;

        width: 100%;
        height: 340px;
    }

    div.textansiedade{
        display: flex;
        justify-content: center;
        align-items: center;

        height: 350px;
    }

    div.textansiedade > img {
        width: 85%;
        height: 75%;
    }

    div#poemasansiedadecontainer{
        display: flex;

        justify-content: center;
        align-items: center;

        margin-right: 15%;

    }

    div#poemasansiedade{
        background-color: #ffffff;
        width: 190px;
        height: 210px;
        border-radius: 10%;
    }
    /* Poemas Tristeza*/

    article.poemastristeza{
        display: flex;
        flex-flow: row nowrap;

        width: 100%;
        height: 362px;
        z-index: 1;
    }

    div.containerpoemastristeza{
        display: flex;
        flex-flow: row-reverse;

        justify-content: space-between;

        width: 100%;
        height: 340px;
    }

    div.texttristeza{
        display: flex;
        justify-content: center;
        align-items: center;

        height: 350px;
    }

    div.texttristeza > img {
        width: 80%;
        height: 70%;
    }

    div#poemastristezacontainer{
        display: flex;

        justify-content: center;
        align-items: center;

        margin-left: 18%;

    }

    div#poemastristeza{
        background-color: #ffffff;
        width: 190px;
        height: 210px;
        border-radius: 10%;
    }
    /*Button quero enviar*/

    .containerbuttonqueroenviar{
        display: flex;

        justify-content: center;

        height: 305px;
    }

    .buttonqueroenviar{

        display: flex;

        justify-content: center;
        align-items: center;

        background-color: #ffffff;

        width: 320px;
        height: 130px;

        border-radius: 35px;

        margin: auto;
    }

    div.buttonqueroenviar > p {

        font-size: 1.9em;

        font-weight: 700;

        margin: 0px;
        text-align: center;
    }

    img.imgsobreops{

        width: 100%;
    }

    /*Button quero enviar*/

    .containerbuttonqueroenviar{
        display: flex;

        justify-content: center;

        height: 250px;
    }

    .buttonqueroenviar{

        color: #265299;

        display: flex;

        justify-content: center;
        align-items: center;

        background-color: #ffffff;

        width: 75%;
        height: 50%;

        border-radius: 35px;

        margin: auto;

        text-decoration: none;
    }

    div.buttonqueroenviar > p {

        font-size: 1.5em;

        font-weight: 700;

        margin: 0px;
        text-align: center;
    }

    img.imgsobreops{

        width: 100%;
    }

    /*Como Surigu*/

    section.comosurgiu{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }

    .comosurgiutext{
        color: #ffffff;

        margin-bottom: 0px;
        margin-top: 8%;
        margin-left: 5%;

        font-size: 2em;
        font-weight: 700;
        line-height: 1em;

        text-align: center;
    }

    .projetotext{
        margin-top: 22%;
        margin-bottom: 0px;

        width: 320px;

        font-weight: 700;
        text-align: center;
        text-justify: auto;

        
    }

    footer{

        background-color: #265299;
        color: #ffffff;

        font-size: 0.9em;

        margin-top: 10%;
        padding: 15px;

        text-align: center;

    }
    footer > p  {
        margin-bottom: 0px;
    } 

    footer > p > a {

        color: #ffffff;
        text-decoration: none;
    } 

    /*Escreva Aqui*/

    .containerlogin{
        display: flex;
        justify-content: center;
        align-items: center;

        margin-top: 50px;
    }


    /*.circulo{
        background-color: #265299;
        width: 300px;
        height: 300px;
        border-radius: 50% 0% 0% 50%;
        display: flex;
        align-items: center;

        position: relative;
        top: -640px;
        left: 200px;
        
        
         */
   


    
    

