@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media screen and (min-width: 992px){
    * {
        margin: 0;
        padding: 0;
        font-family: "Montserrat", Arial, Helvetica, sans-serif;
    }
    html {
        width: 100vw;
        height: 100vh;
    }
    body{
        background-color: #265299;
        width: 97.8vw;
        height: 100vh;
    }
    /*Header*/    
    header{
        width: 100%;
        height: 6.5%;
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 20px;
        background-color: #ffffff;

    }
    
    div.containerheader {
        
    }
    
    div#logo > a{ 
        
    }
    
    div.containernav {
        display: flex;
       justify-content: center;
       align-items: center;
       margin-left: 3%;
    }
    
    header > div.containernav > nav > ul > li {
        list-style: none;
        display: inline-block;
        
        margin: 20px;
    }
    
    header > div.containernav > nav > ul {
        padding-left: 0px;
        margin: 7px;
    }
    
    div#logo > a > img {
        width: 140px;
        margin-left: 25%;
    }
    
    nav > ul > li > a {
        background-color: #ffffff;
        color: black;
        font-weight: normal;
        
        font-size: 0.9em;
        line-height: 1em;
        text-decoration: none;
        padding: 10px;
    
        border-top: #ffffff 1px solid;
        border-right: #265299 2.5px solid;
        border-bottom: #265299 2.5px solid;
        border-left: #265299 2.5px solid;
        border-radius: 0px 0px 12px 12px;
    }
    nav > ul > li > a:hover{
        text-decoration: underline;
    }
    nav > a {
        background-color: #ffffff;
        color: black;
        font-weight: normal;
        
        font-size: 0.6em;
        line-height: 2em;
        text-decoration: none;
        padding: 7px;
    
        border-top: #ffffff 1px solid;
        border-right: #265299 2.5px solid;
        border-bottom: #265299 2.5px solid;
        border-left: #265299 2.5px solid;
        border-radius: 0px 0px 12px 12px;
    }
    nav > a:hover{
        text-decoration: underline;
    }

    section{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #265299;
        height: 89%;
    }
    
    .containerescrevaaqui{
        width: 50%;
        border-radius: 25px;
        background-color: #ffffff;
        display: flex;
        flex-flow: column;
        justify-content: start;
        align-items: center;
    }
    h2 {
        width: 30%;
        border-bottom: 5px black;
        margin: 30px auto 5px auto;
        padding-bottom: 10px;
        border-bottom: 1px solid rgb(194, 194, 194);
        outline: none;
    }
    p {
        width: 80%;
        height: 320px;
        margin: 20px auto;
        padding: 10px;
        padding-bottom: 4px;
        border-bottom: 1px solid rgb(194, 194, 194);
        outline: none;
    }
    .nomedoautorcontainer{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        margin: 30px auto;
    }
    
    .nomedoautor{
        display: inline;
        font-size: 1.1em;
        outline: none;
        border: none;
        padding-bottom: 5px;
        border-bottom: 1px solid rgb(194, 194, 194);
    }
    
    .autordesconhecido{
        display: inline;
        align-self: center;
        margin-left: 5%;
        width: 18px;
        height: 18px;
        cursor: pointer;
        
    }
    .categoriacontainer{
        display: flex;
        width: 100%;
        font-size: 1.1em;
        margin-top: 15px;
        margin-bottom: 10px;
        
    }
    #categoria{
        padding: 2px;
        outline: none;
        margin-left: 2.7%;
        cursor: pointer;
    }
    
    #pub{
        color: #ffffff;
        background-color: #265299;
    
        font-size: 1.3em;
    
        width: 160px;
        height: 40px ;
    
        margin: 20px auto 45px auto ;
        padding: 5px;
    
        border: none;
        outline: none;
        border-radius: 8px;
    
    }
    #pub:hover{
        cursor: pointer;
        background-color: #3968b3;
        color: #ffffff;
    }
}