@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@media screen and (min-width:966px){

*{
    margin: 0;
    padding: 0;
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

body{
    width: 100vw;
    height: 100vh ;
    background-color: #265299;
}
main{
    width: 80%;
    margin: 0px;
    background-color: #ffffff;
    justify-content: center;
    margin: auto;
    padding-bottom: 30px;
    
}
.perfilphotocontainer{
    margin: 15px auto 30px auto;
    padding-top: 35px;
    
}
.perfilphoto{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #e6e6e6;
    margin-top: 30px;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.perfilphoto i#userico{
    position: relative;
    font-size: 80px;
    color: rgb(161, 161, 161);
}
.photopencontainer{
    text-align: center;
}
.photopencontainer i#penuser{
    position: absolute;
    padding-left: 3%;
}
.photopencontainer i#penuser:hover{
    cursor: pointer;
    color: rgb(66, 63, 63);
}
.accountinfocontainer{
   width: 40%;
   margin: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.inputarea{
    width: 100%;
    height: 50px;
    position: relative;
    display: flex;
    align-items: center;
    margin: 15px auto;
    
}
.inputarea input{
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 20px auto;
    outline: none;
    border: none;
    border-radius: 15px;
    background-color: #e6e6e6;
}
.inputarea i#pennome{
    position: absolute;
    right: 5px;
    font-size: 15px;
}
.inputarea i#pennome:hover{
    cursor: pointer;
    color: rgb(66, 63, 63);
}

.inputarea i#penemail{
    position: absolute;
    right: 5px;
    font-size: 15px;
}
.inputarea i#penemail:hover{
    cursor: pointer;
    color: rgb(66, 63, 63);
}
.inputarea i#penpswd{
    position: absolute;
    right: 5px;
    font-size: 15px;
}
.inputarea i#penpswd:hover{
    cursor: pointer;
    color: rgb(66, 63, 63);
}
.favoritoscontainer{
    width: 40%;
    height: 200px;
    margin: 20px auto;
}
.favoritoscontainer > h3 {
    color: #265299;
    border-bottom: 2px solid #b9b9b9;
    padding-bottom: 5px;
}
.buttoncontainer{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bttOut{
    width: 15%;
    height: 38px;
    color: #ffffff;
    border: none;
    background-color: #265299;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 15px;
    margin: 50px 10px 50px 0px;
    padding: 5px;
}
#bttDel{
    width: 15%;
    height: 38px;
    color: #ffffff;
    border: none;
    background-color: #dd1919;
    font-size: 1.5em;
    font-weight: 600;
    border-radius: 15px;
    margin: 50px 0px 50px 5px;
    padding: 5px;
}
#bttOut:hover{
    cursor: pointer;
    background-color: #3968b3;
    color: #ffffff;

}
#bttDel:hover{
    cursor: pointer;
    background-color: #e04949;
    color: #ffffff;
}



/*Header*/
header{
    height: 6.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #ffffff;
}

div.containerheader {
    
}

div#logo > a{ 
    
}

div.containernav {
    display: flex;
   justify-content: center;
   align-items: center;
   margin-left: 3%;
}

header > div.containernav > nav > ul > li {
    list-style: none;
    display: inline-block;
    
    margin: 20px;
}

header > div.containernav > nav > ul {
    padding-left: 0px;
    margin: 7px;
}

div#logo > a > img {
    width: 140px;
    margin-left: 25%;
}

nav > ul > li > a {
    background-color: #ffffff;
    color: black;
    font-weight: normal;
    
    font-size: 0.9em;
    line-height: 1em;
    text-decoration: none;
    padding: 10px;

    border-top: #ffffff 1px solid;
    border-right: #265299 2.5px solid;
    border-bottom: #265299 2.5px solid;
    border-left: #265299 2.5px solid;
    border-radius: 0px 0px 12px 12px;
}
nav > ul > li > a:hover{
    text-decoration: underline;
}
nav > a {
    background-color: #ffffff;
    color: black;
    font-weight: normal;
    
    font-size: 0.6em;
    line-height: 2em;
    text-decoration: none;
    padding: 7px;

    border-top: #ffffff 1px solid;
    border-right: #265299 2.5px solid;
    border-bottom: #265299 2.5px solid;
    border-left: #265299 2.5px solid;
    border-radius: 0px 0px 12px 12px;
}
nav > a:hover{
    text-decoration: underline;

}
}